<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Status</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: @posts %>
  </tbody>
</table>

<br>
<%== pagy_bootstrap_nav(@pagy) %>

<%= link_to 'New Post', new_post_path %>
<h1> import posts</h1>
<%= form_for @post, url: import_posts_posts_path,  html: { multipart: true } do |f| %>
    <%= f.file_field :import_posts %>
    <%= f.submit "upload csv", class: "btn" %>
<% end %>
